body{
    background-color: #f8f9fa;
}

@media only screen and (max-width: 383px) {
    .first-option{
        margin-bottom: 3px;
    }
}

@media only screen and (max-width: 440px) {
    .hide-for-narrow{
        display: none;
    }
}

@media only screen and (min-width: 440px) {
    .hide-for-wide{
        display: none;
    }
}

.first-option{
    margin-right: 3px;
}


.big-gap{
    margin-top: 30px;
}

.badge-bg-override{
    background-color: #17a2b8;
    margin-right: 3px;
}

.btn-tiny{
    --bs-btn-padding-y: .1rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

#action-btn-group{
    float:right;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.cell-highlight{
    background-color: #0dcaf0 !important;
}

.result-img{
    width: 24px;
}

.unsavedOverride{
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.max-stat{
    color: #dadada;
}

.build-num{
    color: #a7a7a7;
    position: absolute;
    top: 9px;
    right: 9px;
}

.minor-heading{
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 3px;
}

.save-num{
    margin-right: 9px;
}

#drop_zone {
    border: 1px solid #ddd;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    text-align: center;
    padding: 8px;
}

.drag_over{
    border: 1px solid #1cc6e9 !important;
}

.with-options{
    justify-content: space-between !important;
}

.action-cell{
    clear: both;
    margin-bottom: 4px;
    overflow: auto;
}

.action-icon{
    float: left;
}

.action-description{
    float: left;
}

.action-buttons{
    float: right;
}