<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
        <link rel="stylesheet" href="./css/style.css?c=7">
    </head>
    <body>
        <!-- Main application -->
        <div id="app" class="container">

            <div v-if="error" class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>

            <div v-if="loading" class="alert alert-info" role="alert">
              Loading...
            </div>

            <!-- Fixed position button for scratchpad -->
            <button v-if="loaded" class="btn btn-secondary btn-lg position-fixed bottom-0 end-0" type="button" @click="OpenScratchpadModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="M19 3h-4.18C14.25 1.44 12.53.64 11 1.2c-.86.3-1.5.96-1.82 1.8H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-7 0a1 1 0 0 1 1 1a1 1 0 0 1-1 1a1 1 0 0 1-1-1a1 1 0 0 1 1-1M7 7h10V5h2v14H5V5h2zm10 4H7V9h10zm-2 4H7v-2h8z"/></svg>
            </button>

            <!-- Modal for the scratchpad -->
            <div class="modal fade" id="scratchpadModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="scratchpadModalLabel">Scratchpad</h5>
                  </div>
                  <div class="modal-body">
                    <textarea class="form-control" id="scratchpadTextArea" rows="20"></textarea>
                  </div>
                  <div class="modal-footer" style="justify-content: space-between">
                      <div>
                        <button type="button" class="btn btn-secondary" @click="ScratchpadRemoveLinebreaks">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6l6 6zM6 6h2v12H6z"/></svg>
                        </button>
                      </div>
                      <div>
                        <button type="button" class="btn btn-danger me-1" @click="ClearScratchpad">Clear</button>
                      <button type="button" class="btn btn-primary" @click="CloseScratchpadModal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
          </div>

          <!-- Modal for changing number values -->
          <div class="modal fade" id="numModModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="numModModalLabel">Set value</h5>
                </div>
                <div class="modal-body">
                  <div id="num-mod-display"></div>
                  <div id="num-mod-button-set">
                    <button type="button" class="btn btn-secondary me-1" @click="NumberChange(0)">Zero</button>
                    <button type="button" class="btn btn-secondary me-1" @click="NumberChange(-10)">-10</button>
                    <button type="button" class="btn btn-secondary me-1" @click="NumberChange(-1)">-1</button>
                    <button type="button" class="btn btn-secondary me-1" @click="NumberChange(1)">+1</button>
                    <button type="button" class="btn btn-secondary me-1" @click="NumberChange(10)">+10</button>
                    <button type="button" class="btn btn-secondary me-1" @click="NumberChange(999)">Max</button>
                  </div>
                </div>
                <div class="modal-footer">
                    <div>
                      <button type="button" class="btn btn-danger me-1" @click="CancelNumMod">Cancel</button>
                      <button type="button" class="btn btn-primary" @click="SaveNumMod">Update</button>
                    </div>
                </div>
              </div>
            </div>
        </div>

          <!-- Modal for note editing -->
          <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="noteModalLabel">Notes</h5>
                </div>
                <div class="modal-body">
                  <textarea class="form-control" id="noteTextArea" rows="1"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" @click="CancelNoteModal">Close</button>
                  <button type="button" class="btn btn-primary" @click="SaveNoteModal">Save</button>
                </div>
              </div>
            </div>
        </div>

            <!-- Modal for action selection -->
            <div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="actionModalLabel">Add an action</h5>
                    </div>
                    <div class="modal-body">

                      <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="attackToggle" checked @click="ToggleAttackEntry">
                        <label class="form-check-label" for="attackToggle">Attack</label>
                      </div>

                      <div id="attackEntryBlock" v-if="enteringAttack">

                        <div class="container mt-2">
                          <div class="row">
                            <div class="col-sm">
                              <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle mb-2" type="button" id="actionSelector" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                                  {{attackModalData.name}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="actionSelector">
                                  <a 
                                    v-for="(attack, index) in filteredAttacks"
                                    :id="'att-' + index"
                                    class="dropdown-item" 
                                    @click="SelectAttack">
                                      {{attack.name}}
                                    </a>
                                    <a class="dropdown-item" @click="DefineNewAttack">New</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm">
                              <input type="text" class="form-control" id="newAttackName" v-if="definingNewAttack" placeholder="Attack name">
                            </div>
                          </div>
                          <!-- target row -->
                          <div class="row">
                            <!-- target nam -->
                            <div class="col-sm">
                              <label>Target: </label>
                              <input type="text" class="form-control" id="attackTarget" :value="attackModalData.target">
                            </div>
                          </div>
                          <div class="row">
                            <!-- badges for creature names -->
                              <div class="mb-2">
                                <span 
                                  v-for="creature in encounter.stats"
                                  :id="creature.id"
                                  class="badge badge-info badge-bg-override"
                                  @click="AddTarget">
                                    {{creature.name}}
                                </span>
                              </div>
                          </div>
                          <!-- main attack details row -->
                          <div class="row">
                            <div class="col-sm">
                              <label>Hit: </label>
                              <input type="text" class="form-control" id="attackHit" v-model="attackModalData.hit">
                            </div>
                            <div class="col-sm">
                              <label>Damage: </label>
                              <input type="text" class="form-control" id="attackDamage" v-model="attackModalData.damage">
                            </div>
                            <div class="col-sm">
                              <label>Type: </label>
                              <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="typeDropdownButton" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                                  {{attackModalData.type}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="typeDropdownButton">
                                  <a v-for="(damageOption, index) in damageData" class="dropdown-item" @click="ChooseDamageOption(damageOption.long)">
                                    {{damageOption.long}}
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Attack notes -->
                          <div id="attack-notes-container"  v-if="displayAttackNotes">
                            <p class="minor-heading">Notes</p>
                            <p id="attackNotes">{{attackNotesToDisplay}}</p>
                          </div>
                        </div>

                      </div>

                      <div id="genericEntryBlock" v-if="!enteringAttack">
                        <!-- Text input field -->
                        <textarea class="form-control mt-2" id="actionText" rows="3" v-model="attackModalData.actionText"></textarea>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" @click="RemoveAction">Remove</button>
                      <button type="button" class="btn btn-secondary" @click="CancelActionModal">Close</button>
                      <button type="button" class="btn btn-primary" @click="SaveActionModal">Save</button>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Modal to modify the JSON -->
            <div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <textarea class="form-control" id="jsonTextArea" rows="20"></textarea>
                  </div>
                  <div class="modal-footer">
                    <div id="jsonErrorMessage" class="alert alert-danger invisible" role="alert">
                      There is an error in the JSON
                    </div>
                    <button type="button" class="btn btn-secondary" @click="CancelJsonModal">Close</button>
                    <button type="button" class="btn btn-primary" @click="SaveJsonModal">Save</button>
                  </div>
                </div>
              </div>
          </div>

          <!-- Modal for config settings -->
          <div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="actionModalLabel">Settings</h5>
                </div>
                <div class="modal-body">
                  <div class="dropdown">
                    <p>Platform:</p>
                    <button class="btn btn-secondary dropdown-toggle mb-2" type="button" id="platformSelector" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                      Choose a platform
                    </button>
                    <div class="dropdown-menu" aria-labelledby="platformSelector">
                      <a 
                        id="paizo-forum"
                        class="dropdown-item" 
                        @click="SelectPlatform">
                          Paizo forums
                      </a>
                      <a 
                        id="discord-sage"
                        class="dropdown-item" 
                        @click="SelectPlatform">
                          Discord (Sage)
                      </a>
                    </div>
                  </div>
                  <div class="dropdown">
                    <p>Number change method:</p>
                    <button class="btn btn-secondary dropdown-toggle mb-2" type="button" id="numModSelector" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                      Choose a method
                    </button>
                    <div class="dropdown-menu" aria-labelledby="numModSelector">
                      <a 
                        id="mod-keyboard"
                        class="dropdown-item" 
                        @click="SelectNumModMethod">
                          Keyboard
                      </a>
                      <a 
                        id="mod-panel"
                        class="dropdown-item" 
                        @click="SelectNumModMethod">
                          Panel
                      </a>
                    </div>
                  </div>
                </div> 
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" @click="CloseConfigModal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal to view creature info -->
          <div class="modal fade" id="creatureModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="creatureModalTitle">Creature name</h5>
                </div>
                <div class="modal-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Fort</th>
                        <th scope="col">Ref</th>
                        <th scope="col">Will</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <span id="creatureFort" class="save-num"></span>
                          <button 
                              type="button" 
                              class="btn btn-primary btn-sm ml-2"
                              @click="CopySave('fort')">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#fff" d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12z"/></svg>
                          </button>
                        </td>
                        <td>
                          <span id="creatureRef" class="save-num"></span>
                          <button 
                              type="button" 
                              class="btn btn-primary btn-sm ml-2"
                              @click="CopySave('ref')">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#fff" d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12z"/></svg>
                          </button>
                        </td>
                        <td>
                          <span id="creatureWill" class="save-num"></span>
                          <button 
                              type="button" 
                              class="btn btn-primary btn-sm ml-2"
                              @click="CopySave('will')">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#fff" d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12z"/></svg>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="minor-heading">Notes</p>
                  <p id="creatureModalNotes"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" @click="CloseInfoModal">Close</button>
                </div>
              </div>
            </div>
        </div>

            <div v-if="loaded" class="d-flex justify-content-center mt-3">

              <a href="./index.html" class="btn btn-secondary me-1" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#fff" d="M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8z"/></svg> Home
              </a>

              <button 
                type="button" 
                class="btn btn-secondary me-1"
                v-on:click="OpenJsonModal">Open JSON</button>

              <button 
                type="button" 
                class="btn btn-secondary me-1"
                :class="{ unsavedOverride : unsaved }"
                v-on:click="SaveEncounter">Save</button>

              <button 
                type="button" 
                class="btn btn-secondary me-1"
                v-on:click="OpenConfigModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#fff" d="M12 15.5A3.5 3.5 0 0 1 8.5 12A3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97s-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1s.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64z"/></svg>
              </button>

              <button
                type="button" 
                class="btn btn-primary btn-sm"
                @click="CopyCreatureInfoToScratchpad">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#fff" d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12z"/></svg>
              </button>

            </div>

            <hr  v-if="loaded"/>

            <div v-if="loaded" id="stat_table" class="mt-3">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">init</th>
                        <th scope="col">Name</th>
                        <th scope="col">SP</th>
                        <th scope="col">HP</th>
                        <th scope="col">RP</th>
                        <th scope="col">EAC</th>
                        <th scope="col">KAC</th>
                        <th scope="col" class="hide-for-narrow">Notes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(creature, index) in encounter.stats">
                        <td :data-ref="'init-'+index" @click="NumRoller">{{creature.init}}</td>
                        <td :data-ref="'name-'+index" @click="OpenCreatureModal">{{creature.name}}</td>
                        <td :data-ref="'sp-'+index" @click="NumRoller">{{creature.sp}}<span class="max-stat"> /{{GetCreature(creature.ref).sp}}</span></td>
                        <td :data-ref="'hp-'+index" @click="NumRoller">{{creature.hp}}<span class="max-stat"> /{{GetCreature(creature.ref).hp}}</span></td>
                        <td :data-ref="'rp-'+index" @click="NumRoller">{{creature.rp}}<span class="max-stat"> /{{GetCreature(creature.ref).rp}}</span></td>
                        <td :data-ref="'eac-'+index" @click="NumRoller">{{creature.eac}}</td>
                        <td :data-ref="'kac-'+index" @click="NumRoller">{{creature.kac}}</td>
                        <td :data-ref="'note-'+index" @click="EditNote" class="hide-for-narrow">{{creature.notes}}</td>
                      </tr>
                      <tr v-if="addingCreature">
                        <td><input type="text" class="form-control" v-model="newCreatureData.init"></td>
                        <td><input type="text" class="form-control" v-model="newCreatureData.name"></td>
                        <td><input type="text" class="form-control" v-model="newCreatureData.sp"></td>
                        <td><input type="text" class="form-control" v-model="newCreatureData.hp"></td>
                        <td><input type="text" class="form-control" v-model="newCreatureData.rp"></td>
                        <td><input type="text" class="form-control" v-model="newCreatureData.eac"></td>
                        <td><input type="text" class="form-control" v-model="newCreatureData.kac"></td>
                        <td>
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="newCreaturePCToggle" v-model="newCreatureData.pc">
                            <label class="form-check-label" for="newCreaturePCToggle">PC</label>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>

            <div v-if="loaded" id="add_creature_holder" class="justify-content-center">
              <button v-if="!addingCreature" type="button" class="btn btn-secondary btn-sm overlay" @click="AddCreature">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M18 14v-3h-3V9h3V6h2v3h3v2h-3v3zm-9-2q-1.65 0-2.825-1.175T5 8t1.175-2.825T9 4t2.825 1.175T13 8t-1.175 2.825T9 12m-8 8v-2.8q0-.85.438-1.562T2.6 14.55q1.55-.775 3.15-1.162T9 13t3.25.388t3.15 1.162q.725.375 1.163 1.088T17 17.2V20z"/></svg> Add creature
              </button>
              <button v-if="addingCreature" type="button" class="btn btn-danger btn-sm overlay" @click="CancelCreature">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M17.4 13L16 11.6l2.075-2.1L16 7.425L17.4 6l2.1 2.1L21.575 6L23 7.425L20.9 9.5l2.1 2.1l-1.425 1.4l-2.075-2.075zM9 12q-1.65 0-2.825-1.175T5 8t1.175-2.825T9 4t2.825 1.175T13 8t-1.175 2.825T9 12m-8 8v-2.8q0-.85.438-1.562T2.6 14.55q1.55-.775 3.15-1.162T9 13t3.25.388t3.15 1.162q.725.375 1.163 1.088T17 17.2V20z"/></svg> Cancel
              </button>
              <button v-if="addingCreature" type="button" class="btn btn-primary btn-sm overlay ms-2" @click="SaveCreature">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M17.55 12L14 8.45l1.425-1.4l2.125 2.125l4.25-4.25l1.4 1.425zM9 12q-1.65 0-2.825-1.175T5 8t1.175-2.825T9 4t2.825 1.175T13 8t-1.175 2.825T9 12m-8 8v-2.8q0-.85.438-1.562T2.6 14.55q1.55-.775 3.15-1.162T9 13t3.25.388t3.15 1.162q.725.375 1.163 1.088T17 17.2V20z"/></svg> Save creature
              </button>
            </div>

            <hr />

            <div v-if="loaded" id="notes_table" class="hide-for-wide mt-3">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(creature, index) in encounter.stats">
                      <td>{{creature.name}}</td>
                      <td :data-ref="'note-'+index" @click="EditNote">{{creature.notes}}</td>
                    </tr>
                  </tbody>
              </table>
          </div>

            <div v-if="loaded" class="round big-gap" v-for="round in encounter.rounds">
                <div class="d-flex justify-content-center mt-3">
                  <h2>Round {{round.num}}</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Init</th>
                          <th scope="col">Name</th>
                          <th scope="col"></th>
                          <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(actor, aindex) in round.actors">
                            <td :data-ref="'r' + round.num + 'init-'+aindex" @click="NumRoller">
                              {{actor.init}}
                            </td>
                            <td><strong class="me-2">{{actor.name}}</strong></td>
                            <td style="text-align:right">
                              <button 
                                :id="'addbtn-' + round.num + '-' + aindex"
                                type="button" 
                                class="btn btn-light btn-sm first-option"
                                @click="AddActionForCreature">
                                +
                              </button>
                            </td>
                            <td>
                              <div v-for="(act, aaindex) in actor.action"  class="action-cell">
                                <div class="action-icon">
                                </div>
                                <div class="action-description">
                                  {{act.desc}}
                                  <img 
                                    v-if="act.result != null" 
                                    class="result-img"
                                    :src="'./img/' + act.result + '.png'"
                                  />
                                </div>
                                <div class="action-buttons">
                                  <button 
                                    type="button" 
                                    class="btn btn-primary btn-sm first-option"
                                    @click="OpenActionModal(round.num, aindex, aaindex)">
                                    <svg 
                                      xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                      <path fill="#fff" d="M16.84 2.73c-.39 0-.77.15-1.07.44l-2.12 2.12l5.3 5.31l2.12-2.1c.6-.61.6-1.56 0-2.14L17.9 3.17c-.3-.29-.68-.44-1.06-.44M12.94 6l-8.1 8.11l2.56.28l.18 2.29l2.28.17l.29 2.56l8.1-8.11m-14 3.74L2.5 21.73l6.7-1.79l-.24-2.16l-2.31-.17l-.18-2.32"/>
                                    </svg>
                                  </button>
                                  <button 
                                    type="button" 
                                    class="btn btn-primary btn-sm"
                                    @click="CopyActionToScratchpad(round.num, aindex, aaindex)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#fff" d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12z"/></svg>
                                  </button>
                                </div>
                              </div>
                              
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div v-if="loaded" class="d-flex justify-content-center mt-3 mb-3">
              <button 
                type="button" 
                class="btn btn-primary"
                v-on:click="AddNewRound">New round</button>
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <script src="./js/system.js"></script>
        <script type="module" src="./js/enc_app.js?v=41"></script>
    </body>
</html>